#TODAS LAS CLAVES SE ESCRIBEN CON MAYUSCULAS
NOMBRE=Goomba
SIMBOLO=$
#PLANDENIVELES=[nivel2,nivel5,nivel1]
PLANDENIVELES=[level1-1,level3-1,level8-8]
OBJ[level1-1]=[H,V,F,H,V,H]
OBJ[level3-1]=[B,R,B]
OBJ[level8-8]=[E,C,H]
VIDAS=3
PLATAFORMA=10.254.57.57:5000
