#TODAS LAS CLAVES SE ESCRIBEN CON MAYUSCULAS
NOMBRE=Mario
SIMBOLO=@
#PLANDENIVELES=[nivel2,nivel5,nivel1]
<<<<<<< HEAD
<<<<<<< HEAD
PLANDENIVELES=[deadLock]
#OBJ[nivel1]=[M,F,H,M]
OBJ[deadLock]=[H,M]
#OBJ[nivel5]=[M,F,H]
PLANDENIVELES=[deadlock]
OBJ[deadlock]=[H,M]
VIDAS=5
PLATAFORMA=10.254.57.44:5000
=======
PLANDENIVELES=[deadlock]
OBJ[deadlock]=[H,M]
VIDAS=5
PLATAFORMA=10.254.57.57:5000
>>>>>>> origin/master
