#TODAS LAS CLAVES SE ESCRIBEN CON MAYUSCULAS
NOMBRE=l
SIMBOLO=8
#PLANDENIVELES=[nivel2,nivel5,nivel1]
PLANDENIVELES=[deadlock]
#OBJ[nivel1]=[M,F,H,M]
OBJ[deadLock]=[H,M]
#OBJ[nivel5]=[M,F,H]
PLANDENIVELES=[deadlock]
OBJ[deadlock]=[H,M]
VIDAS=5
PLATAFORMA=10.254.57.44:5000
